body {
	background: orange;
}

h1 {
	font-family: serif;
	font-size:20pt;
}

h4 {
	font-family: serif;
}

a {
	font-family: serif;
}

a:hover {
	color: orange;
	background: white;
}

main {
	margin-left: 25px;
	margin-right: 25px;
}

@media (min-width: 750px) {
	.responsive {
		display:inline-block;
		width: 200px;
	}
}

@media (min-width: 1000px) {
	a {
		display:inline-block;
		width: 200px
	}
}